@tailwind base;
@tailwind components;
@tailwind utilities;

/** Montserrat Thin **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
      url("~@/assets/fonts/montserrat/Montserrat-Thin.woff2") format("woff2"),
      url("~@/assets/fonts/montserrat/Montserrat-Thin.woff") format("woff");
} */
/** Montserrat Light **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url("~@/assets/fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
      url("~@/assets/fonts/montserrat/Montserrat-Light.woff") format("woff");
} */
/** Montserrat Regular **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url("~@/assets/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
       url("~@/assets/fonts/montserrat/Montserrat-Regular.woff") format("woff");
} */
/** Montserrat Medium **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
      url("~@/assets/fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
       url("~@/assets/fonts/montserrat/Montserrat-Medium.woff") format("woff");
} */
/** Montserrat SemiBold **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url("~@/assets/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
       url("~@/assets/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
} */
/** Montserrat Bold **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url("~@/assets/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
       url("~@/assets/fonts/montserrat/Montserrat-Bold.woff") format("woff");
} */
/** Montserrat ExtraBold **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
      url("~@/assets/fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
      url("~@/assets/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
} */
/** Montserrat Black **/
/* @font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: local('Montserrat Black'), local('Montserrat-Black'),
      url("~@/assets/fonts/montserrat/Montserrat-Black.woff2") format("woff2"),
      url("~@/assets/fonts/montserrat/Montserrat-Black.woff") format("woff");
} */


:disabled {
  cursor: no-drop;
}
/* Скролл кастом */
body {
  --grid-unit: 2.5vw;
  --scrollbar-rgb: 0,0,0;
  --scrollbar-track: rgba(var(--scrollbar-rgb),0.03);
  --scrollbar-thumb: rgba(var(--scrollbar-rgb),0.1);
  --scrollbar-thumb-hover: rgba(var(--scrollbar-rgb),0.15);
  --scrollbar-thumb-active: rgba(var(--scrollbar-rgb),0.2);
  --scrollbar-size: calc(0.25*var(--grid-unit));
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}
body::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: var(--scrollbar-size);
  background-color: transparent;
  border-radius: 40px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}
body::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  width: calc(0.5*var(--scrollbar-size));
  min-height: calc(0.1*var(--grid-unit));
  background-clip: content-box;
  background-color:transparent;
  border-radius: 4px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}
body:hover::-webkit-scrollbar-thumb, body :hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
body:hover::-webkit-scrollbar, body :hover::-webkit-scrollbar {
  background-color: var(--scrollbar-track);
}
body::-webkit-scrollbar-button {
  display: none;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
  line-height: 1.5;
}
.form-input-two {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.3rem 0.75rem 0.3rem 0.25rem;
  line-height: 1.5;
}
.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3E%3Cpath d='M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}
.form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}
.form-checkbox {
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  border-width: 1px;
  border-radius: 0.25rem;
}
.form-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.img-unload {
  height: calc(24rem / 16 * 9);
}


.template__01 {
  opacity: 1;
  background: linear-gradient(225deg, rgb(170, 7, 107), rgb(97, 4, 95));
  color: #fff;
}
.template__01 .btn-color {
  background: linear-gradient(225deg, rgb(236, 72, 153), rgb(190, 24, 93));
}
.template__01 .input-style {
  color: #fff;
}

.template__02 {
  opacity: 1;
  background: linear-gradient(225deg, rgb(25, 64, 109), rgb(24, 8, 54));
  color: #fff;
}
.template__02 .btn-color {
  background: linear-gradient(225deg, rgb(236, 72, 153), rgb(190, 24, 93));
}
.template__02 .input-style {
  color: #fff;
}

.template__03 {
  opacity: 1;
  background: linear-gradient(225deg, rgb(195, 20, 50), rgb(36, 11, 54));
  color: #fff;
}
.template__03 .btn-color {
  background: #FF2E63;
}
.template__03 .input-style {
  color: #fff;
}

.template__04 {
  opacity: 1;
  background: linear-gradient(225deg, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgb(80, 75, 63);
}
.template__04 .btn-color {
  background: #d3c28b;
}
.template__04 .input-style {
  color: #fff;
}


.size {
  max-height: calc(100vw / 16 * 9 / 2);
}
@media (max-width: 640px) {
  .size {
    max-height: calc(100vw / 16 * 9);
  }
}



