@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(template.css);
@import url(fonts.css);

html {
  font-family: 'Inter', sans-serif; 
}

:disabled {
  cursor: no-drop;
}
/* Скролл кастом */
body {
  --grid-unit: 2.5vw;
  --scrollbar-rgb: 0,0,0;
  --scrollbar-track: rgba(var(--scrollbar-rgb),0.03);
  --scrollbar-thumb: rgba(var(--scrollbar-rgb),0.1);
  --scrollbar-thumb-hover: rgba(var(--scrollbar-rgb),0.15);
  --scrollbar-thumb-active: rgba(var(--scrollbar-rgb),0.2);
  --scrollbar-size: calc(0.25*var(--grid-unit));
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
* {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;
}
body::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: var(--scrollbar-size);
  background-color: transparent;
  border-radius: 40px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}
body::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
  width: calc(0.5*var(--scrollbar-size));
  min-height: calc(0.1*var(--grid-unit));
  background-clip: content-box;
  background-color:transparent;
  border-radius: 4px;
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}
body:hover::-webkit-scrollbar-thumb, body :hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
body:hover::-webkit-scrollbar, body :hover::-webkit-scrollbar {
  background-color: var(--scrollbar-track);
}
body::-webkit-scrollbar-button {
  display: none;
}

.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
  line-height: 1.5;
}
.form-input-two {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0 0.25rem 0.25rem 0;
  padding: 0.3rem 0.75rem 0.3rem 0.25rem;
  line-height: 1.5;
}
.form-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3E%3Cpath d='M15.3 9.3a1 1 0 011.4 1.4l-4 4a1 1 0 01-1.4 0l-4-4a1 1 0 011.4-1.4l3.3 3.29 3.3-3.3z'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  background-position: right 0.5rem center;
  background-size: 1.5em 1.5em;
}
.form-textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #cecece;
  border-width: 1px;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}
.form-checkbox {
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  border-width: 1px;
  border-radius: 0.25rem;
}
.form-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4a1 1 0 00-1.414-1.414L7 8.586 5.707 7.293z'/%3E%3C/svg%3E");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
.btn {
  @apply inline-block px-3 py-2 text-sm leading-none transition-colors duration-300 border border-transparent rounded focus:outline-none
}
.btn-cancel {
  @apply text-black bg-gray-200 hover:bg-gray-100 active:bg-gray-300
}
.btn-danger {
  @apply text-white bg-red-800 hover:bg-red-700  active:bg-red-900
}
.btn-save {
  @apply text-white bg-black hover:bg-gray-700 active:bg-gray-800
}
.img-unload {
  height: calc(24rem / 16 * 9);
}
.ava {
  background: url("~@/assets/ava_admin.svg") no-repeat cadetblue;
  background-position: center center;
  background-size: contain;
}
.placeholder-spinner {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: rgb(76, 76, 76) rgb(76, 76, 76) rgb(211, 211, 211) rgb(211, 211, 211);
  border-width: 2px;
  border-radius: 50%;
}
.color-accent {
  color: #0487af;
}
.color-accent:hover {
  color: #036c8c;
}
.color-accent:active {
  color: #01516a;
}


.slide-leave-active, .slide-enter-active {
  transition: all 0.4s cubic-bezier(0.45, 0.25, 0.60, 0.95);
}
.slide-enter {
  transform: translateY(-20px);
  opacity: 0;
}
.slide-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.slide-move {
  transition: all .5s;
}

.fade-switch-group-enter-active, .fade-switch-group-leave-active {
  transition: all .2s ease;
}
.fade-switch-group-enter, .fade-switch-group-leave-to {
  opacity: 0;
}

.facebook_login {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 30px 0px;
}
.facebook_login::before {
  content: "ИЛИ";
  position: absolute;
  background: rgb(250, 250, 250);
  padding: 0px 5px;
  color: rgb(137, 137, 137);
}
.facebook_login::after {
  content: "";
  width: 100%;
  border-top: 1px solid rgb(232, 232, 232);
}